body{
    background-color: aliceblue;
    font-family: sans-serif;
}
.button_container {
    margin: 15px 0px 30px; 
}
.grid_container {
    width: 500px;
    height: 500px;
    
}
.square {
    background: black;
    border: 1px solid darkgrey;
    float: left;
}
.colored {
    background: darkred;
}